@media (max-width: 1280px) {
  .small\:bg-villeretroSmall {
    background-image: url("../../../public/background/villeretro2.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
}
@media (min-width: 1280px) {
  .laptop\:bg-villeretro2 {
    /* laptop */
    background-image: url("../../../public/background/villeretro2.png");
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
  }
}
/* Video en arrière plan dans le formulaire de jeu */
.video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}
.content{
  position: absolute;
  width: 100%; height: 100vh;
  top: 0;
}