/* contenant des input */
.input-component{
  @apply relative flex justify-center w-11/12 md:w-[420px] h-[80px] my-2 mx-auto border flex-col items-center bg-white rounded-full
}

/* focus sur le contenant des input */
.input-component input.focused+label {  
  animation: labelGetUp 0.5s forwards;
}
  @keyframes labelGetUp {
    0% { @apply top-6; }
    to { @apply text-sm top-[-1px] bg-white px-2 rounded; }
  }

/* texte à l'intérieur des input */
.label{ @apply absolute left-8 text-xl top-6; cursor: text;}

/* input */
.input-register-section { @apply  py-3 px-6 bg-white rounded w-11/12 md:w-96; }

/* focus input */
.input-component input:focus { outline: solid 2px rgb(42, 42, 197); }


/* dans formulaire d'inscription */
.password-requirement { @apply w-11/12 md:w-[400px] my-2 mx-auto rounded-md }

#textareaDescriptionJeu{
  width: 50vw;
}

.boutonGris {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
/***************************************************/
.listeCouleurTexte {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

select option {
  color: black;
  background-color: white;
}

/***************************************************/
.color-palette {
  display: flex; /* Utilise le modèle de boîte flexible */
  align-items: center; /* Aligne verticalement les éléments au centre */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}