
/* contenant des input */
.input-component{
  @apply relative flex justify-center w-11/12 md:w-[420px] h-[80px] my-2 mx-auto border flex-col items-center bg-white rounded-full
}

/* focus sur le contenant des input */
.input-component input.focused+label {  
  animation: labelGetUp 0.5s forwards;
}
  @keyframes labelGetUp {
    0% { @apply top-6; }
    to { @apply text-sm top-[-1px] bg-white px-2 rounded; }
  }

/* texte à l'intérieur des input */
.label{ @apply absolute left-8 text-xl top-6; cursor: text;}

/* input */
.input-register-section { @apply  py-3 px-6 bg-white rounded w-11/12 md:w-96; }

/* focus input */
.input-component input:focus { outline: solid 2px rgb(42, 42, 197); }

/*********************************************************************************************************/
/* Ensemble du formulaire avec fond transparent */
h2{ font-size: 2rem;}
h3{ font-size: 1.5rem;}

.halfTransparentBlue{
  @apply w-[53vw] mx-auto bg-[rgba(116,173,218,0.645)] p-2
}
.halfTransparentBlue section:nth-child(1) {
  display: flex; align-items: center;
  padding: 0.5rem 0;
}
.apercu{
  @apply border border-gray-300 p-4 min-h-[50px]
}
/* dans formulaire d'inscription */
.password-requirement { @apply w-11/12 md:w-[400px] my-2 mx-auto rounded-md }

#textareaDescriptionJeu{
  width: 52vw; height: 20vh;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}
.entirety{
  width: 53vw;
  margin-inline: auto;
  background-color: rgba(116, 173, 218, 0.645);
  padding: 0.5rem;
}

/******************************************************************************************************/
.bouton{
  display: inline-flex; align-items: center; justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  border: 1px rgb(59, 58, 58) solid;
  border-radius: 5px;  
}
.boutonGris {
  width: 35px; height: 35px;

}
.longBoutonGris {
  padding: 5px;
  color: white;
  text-shadow: 1px 1px 10px black;
  font-weight: 600;
}
/***************************************************/
.listeCouleurTexte {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
select {
  padding: 5px;
  border: 1px rgb(59, 58, 58) solid;
  border-radius: 5px;
}

select option {
  color: black;
  background-color: white;
}

/***************************************************/
.boutonTextColor, .boutonBackgroundColor{
  position: relative;
  width: 35px; height: 35px;
  color: white;
  display: inline-flex; flex-direction: column;
}
.textColorLetter{
  color: black;
  position: relative;
  top: -3px;
  font-weight: 700;
  font-size: 18px;
}
.rectangleTextColor{
  height: 18%; width: 70%;
  border: 1px solid black;
  position: relative;
  top: -5px;
}
.rectangleBackgroundTextColor{
  height: 18%; width: 70%;
  border: 1px solid black;
}

.iconPencil{
  width: 17px;
}
/***************************************************/
.color-palette {
  display: inline-block; /* or display: block; if you want to take full width */
  width: 157px;
  height: 165px;
  overflow: auto; /* in case the content exceeds the container size */
  padding: 4px; /* add some padding to make it look nicer */
  border: 1px solid #020024;
  position: absolute;
  left: -60px; top: 35px;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%); 
  cursor: default;  
}