
/* contenant des input */
.input-component{
  @apply relative flex justify-center w-11/12 md:w-[420px] h-[80px] my-2 mx-auto border flex-col items-center bg-white rounded-full
}

/* focus sur le contenant des input */
.input-component input.focused+label {  
  animation: labelGetUp 0.3s forwards;
}
  @keyframes labelGetUp {
    0% { @apply top-6; }
    to { @apply text-sm top-[-1px] bg-white px-2 rounded; }
  }

/* texte à l'intérieur des input */
.label{ @apply absolute left-8 text-xl top-6; cursor: text; }

/* input */
.input-register-section { @apply  py-3 px-6 bg-white rounded w-11/12 md:w-96; }

/* focus input */
.input-component input:focus { outline: solid 2px rgb(42, 42, 197); }

/*********************************************************************************************************/
.grasFondBleu {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  background-color: rgba(186, 28, 160, 0.623);
}
/**** SocialFrame *****************************************************************************************/
.allIconSocial {
  transform: translateX(0.0rem); /* 6.25rem * 1.5 */
  animation: iconsMove 10s infinite;
}

@keyframes iconsMove {
  0% { transform: translateX(-8.75rem); } /* 6.25rem * 1.5 */
  15% { transform: translateX(-7.0rem); } /* 5rem * 1.5 */
  20% { transform: translateX(-7.0rem); } /* 5rem * 1.5 */
  35% { transform: translateX(-5.2rem); } /* 3.7rem * 1.5 */
  40% { transform: translateX(-5.2rem); } /* 3.7rem * 1.5 */
  55% { transform: translateX(-3.45rem); } /* 2.5rem * 1.5 */
  60% { transform: translateX(-3.45rem); } /* 2.5rem * 1.5 */
  75% { transform: translateX(-1.8rem); } /* 1.2rem * 1.5 */
  80% { transform: translateX(-1.8rem); } /* 1.2rem * 1.5 */
  to { transform: translateX(0rem); }
}