.linksOtherGames input{
    width: 60%;
    margin-inline: auto;
    padding: 0.5rem;
}
@media (max-width: 1280px) {
  .linksOtherGames input{
    width: 95%;
  }
}
.social input{
    width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

@media (max-width: 600px) {
  .social input {
      width: 80%;
  }
}
/*************************************************************/
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond */
    color: white; /* Couleur du texte */
    border-radius: 5px; /* Coins arrondis */
    border: 1px white solid;
}
  
.custom-file-upload input[type="file"] {
  display: none; /* Masquer l'input de fichier par défaut */
}
/*************************************************************/  
.contentLogo{
  @apply w-[15%] laptop:w-[20%] flex justify-end items-center
}

/******* EditorPerso ***************************/
h2{ font-size: 2rem;}
h3{ font-size: 1.5rem;}

.boutonTextColor, .boutonBackgroundColor{
  position: relative;
  width: 35px; height: 35px;
  color: white;
  display: inline-flex; flex-direction: column;
}
.textColorLetter{
  color: black;
  position: relative;
  top: -3px;
  font-weight: 700;
  font-size: 18px;
}
.rectangleTextColor{
  height: 18%; width: 70%;
  border: 1px solid black;
  position: relative;
  top: -5px;
}
.rectangleBackgroundTextColor{
  height: 18%; width: 70%;
  border: 1px solid black;
}

.iconPencil{
  width: 17px;
}
.color-palette {
  display: inline-block; /* or display: block; if you want to take full width */
  width: 157px;
  height: 165px;
  overflow: auto; /* in case the content exceeds the container size */
  padding: 4px; /* add some padding to make it look nicer */
  border: 1px solid #020024;
  position: absolute;
  left: -60px; top: 35px;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%); 
  cursor: default;  
}
#textareaDescriptionJeu{
  width: 100%; min-height: 20vh;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}
.bouton{
  display: inline-flex; align-items: center; justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  border: 1px rgb(59, 58, 58) solid;
  border-radius: 5px;
  background-color: rgba(148, 163, 184, 0.7);
}
.boutonGris {
  width: 35px; height: 35px;
}
.longBoutonGris {
  padding: 5px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  font-weight: 600;
}

/********** shortIntroduction ***********************/
#shortIntroduction{
  width: 100%; min-height: 9vh;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  margin-inline: auto;
}
/********** PEGI ***********************/
.pegi{
  display: flex; justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
.pegi img{
  width: 3.5rem;
}
.pegi label{
  padding: 0.3rem;
  border: 1px black solid;
  border-radius: 10px;
  background-color: rgba(148, 163, 184, 0.7);
}
/********** Platform *******************/
.buttonPlatform-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux boutons de passer à la ligne si l'espace est insuffisant */
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.buttonPlatform {
  padding: 1px 4px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem; /* Espacement entre les boutons */
  transition: background-color 0.3s; /* Effet de transition pour le survol */
  /*border: 1px rgb(5, 4, 4) solid;*/
  display: inline-block;
}

.buttonPlatform:hover {
  background-color: rgb(37, 134, 169); /* Changement de couleur au survol */
}