.neuphormism{
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 
        5px 5px 10px black, 
        -5px -5px 10px black, 
        inset  -5px -5px 10px black, 
        inset  5px 5px 10px rgb(135, 134, 134);
}

.neuphormismUndergroung{
    box-shadow: 
    inset  -5px -5px 10px rgb(1, 9, 250), 
    inset  5px 5px 10px black;
    background-color: rgba(0, 0, 0, 0.589);
}

.neuphormismFormularyIntroductionGame{
    box-shadow: 
    5px 5px 10px black, 
    -5px -5px 10px black, 
    inset  -5px -5px 10px black, 
    inset  5px 5px 10px  rgb(31, 125, 207);
}

.inputLink{
    display: block;
    width: 90%;
    box-sizing: border-box;
    padding: 0.5rem; /* 8px */
    padding-left: 0.5rem; /* 8px */
    margin: 0.5rem; /* 8px */
    color: white;
    border: 1px solid rgb(1, 9, 250);
    border-radius: 10px;
}

.linearUp{
    background: linear-gradient(54deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 78%, rgba(2,0,36,1) 100%);
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

@media (max-width: 600px) {
    .linearUp {
      width: 100%;
    }
  }