.load {
  margin-top: 10vh;
  width: 100vw; height: 260px;
  color: white;
  overflow: hidden;  /* Pour cacher la partie qui déborde */
  position: relative;
}

@keyframes eateat {
    0%{transform: translateX(-20vw);}
  100%{transform: translateX(120vw);}
}
.pacman {
  position: absolute;
  animation: 15s forwards eateat;
}

.lettersGroup{
  padding-top: 10vh;
  width: 100vw; height: 100px;
  display: flex; justify-content: center;
  gap: 1rem;
}

.letter{
  height: 4.2rem;
  font-size: 3rem;
  padding: 1rem;
  background-color: black;
  display: flex; align-items: center; justify-content: center;
  border-radius: 5px;
}

@keyframes jump {
    0%{transform: translateY(0px);}
    5%{transform: translateY(0px) rotate(0deg);}
    8%{transform: translateY(-50px) rotate(40deg);}
   10%{transform: translateY(-30px) rotate(-10deg);}
   12%{transform: translateY(0) translateX(0) rotate(0deg);}
   20%{transform: translateY(0) translateX(1vw) rotate(0deg);}
  100%{transform: translateX(100vw);}
}

.letter:nth-of-type(1) {
  animation: 10s jump forwards;
}

@keyframes run {
    0%{transform: translateX(0);}
  100%{transform: translateX(100vw);}
}

.letter:not(:nth-of-type(1)) {
  animation: 7s run forwards;
  animation-delay: 1.5s;
}
.letter:nth-of-type(2) {
  animation-timing-function: cubic-bezier(0,.34,.49,.36);
}
.letter:nth-of-type(3) {
 animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
.letter:nth-of-type(4) {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.letter:nth-of-type(5) {
  animation-timing-function: cubic-bezier(0.6, 0.1, 0.3, 0.9);
}
.letter:nth-of-type(6) {
  animation-timing-function: cubic-bezier(0.7, 0.2, 0.3, 0.8);
}
.letter:nth-of-type(7) {
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}